In [32]:
#lists:
mobiles=["Apple", "Samsung", "1+", "Realme", "Nokia", "Moto", "Iqoo" , "oppo", "Vivo"]
laptops=["lenovo", "Macbook", "Dell", "Hp", "Acer", "Asus", "HCL", "LG", "MSI", "SONY" ]
Numbers=[1,2,5,8,9,10,25,14,16,63,52,47,99]
Applications= ["C", "C++", "Java", "Python", "Anaconda", "Oracle", "HTML", 1,2,3,4,]
Banks= ["HDFC", "ICICI", "SBI", "SBI II", "KVB", "PNB", "UNION"]

print(mobiles,laptops,Numbers,Applications,Banks)

['Apple', 'Samsung', '1+', 'Realme', 'Nokia', 'Moto', 'Iqoo', 'oppo', 'Vivo'] ['lenovo', 'Macbook', 'Dell', 'Hp', 'Acer', 'Asus', 'HCL', 'LG', 'MSI', 'SONY'] [1, 2, 5, 8, 9, 10, 25, 14, 16, 63, 52, 47, 99] ['C', 'C++', 'Java', 'Python', 'Anaconda', 'Oracle', 'HTML', 1, 2, 3, 4] ['HDFC', 'ICICI', 'SBI', 'SBI II', 'KVB', 'PNB', 'UNION']

In [10]:
#Indexing
print(mobiles[1])
print(laptops[-1])
print(Numbers[6])
print(Applications[-5])
print(Banks[3])
print(mobiles[1],laptops[-1], Numbers[6], Applications[-5], Banks[3])

Samsung
SONY
25
HTML
SBI II
Samsung SONY 25 HTML SBI II

In [13]:
#Slicing
print(mobiles[1:3])
print(laptops[5:])
print(Numbers[:])
print(Banks[3:6])
print(mobiles[1:3], laptops[5:], Numbers [:])

['Samsung', '1+']
['Asus', 'HCL', 'LG', 'MSI', 'SONY']
[1, 2, 5, 8, 9, 10, 25, 14, 16, 63, 52, 47, 99]
['SBI II', 'KVB', 'PNB']
['Samsung', '1+'] ['Asus', 'HCL', 'LG', 'MSI', 'SONY'] [1, 2, 5, 8, 9, 10, 25, 14, 16, 63, 52, 47, 99]

In [18]:
#Concantetaion
concantetaion=mobiles+Numbers
print(concantetaion)
print(mobiles[1:4]+Numbers[2:3])
print(mobiles+Numbers+laptops+Banks+Applications)

['Apple', 'Samsung', '1+', 'Realme', 'Nokia', 'Moto', 'Iqoo', 'oppo', 'Vivo', 1, 2, 5, 8, 9, 10, 25, 14, 16, 63, 52, 47, 99]
['Samsung', '1+', 'Realme', 5]
['Apple', 'Samsung', '1+', 'Realme', 'Nokia', 'Moto', 'Iqoo', 'oppo', 'Vivo', 1, 2, 5, 8, 9, 10, 25, 14, 16, 63, 52, 47, 99, 'len,ovo', 'Macbook', 'Dell', 'Hp', 'Acer', 'Asus', 'HCL', 'LG', 'MSI', 'SONY', 'HDFC', 'ICICI', 'SBI', 'SBI II', 'KVB', 'PNB', 'UNION', 'C', 'C++', 'Java', 'Python', 'Anaconda', 'Oracle', 'HTML', 1, 2, 3, 4]

In [31]:
#Repitition
print(mobiles*2)
print(Applications*1)
print(Numbers[1:2]*3)
print(laptops[-1]*2)
print(mobiles,Applications,Numbers,laptops,Banks*2)

['Apple', 'Samsung', '1+', 'Realme', 'Nokia', 'Moto', 'Iqoo', 'oppo', 'Vivo', 'Apple', 'Samsung', '1+', 'Realme', 'Nokia', 'Moto', 'Iqoo', 'oppo', 'Vivo']
['C', 'C++', 'Java', 'Python', 'Anaconda', 'Oracle', 'HTML', 1, 2, 3, 4]
[2, 2, 2]
SONYSONY
['Apple', 'Samsung', '1+', 'Realme', 'Nokia', 'Moto', 'Iqoo', 'oppo', 'Vivo'] ['C', 'C++', 'Java', 'Python', 'Anaconda', 'Oracle', 'HTML', 1, 2, 3, 4] [1, 2, 5, 8, 9, 10, 25, 14, 16, 63, 52, 47, 99] ['len,ovo', 'Macbook', 'Dell', 'Hp', 'Acer', 'Asus', 'HCL', 'LG', 'MSI', 'SONY'] ['HDFC', 'ICICI', 'SBI', 'SBI II', 'KVB', 'PNB', 'UNION', 'HDFC', 'ICICI', 'SBI', 'SBI II', 'KVB', 'PNB', 'UNION']

In [40]:
#change list
laptops[1]="MSI"
print(laptops)
laptops[1:3]= "MSI", "TCL", "MI"
print(laptops)
Applications[2]="Databse"
print(Applications)
Banks[1]="HDFC"
print(Banks)
Numbers[2]=-2
print(Numbers)

['lenovo', 'MSI', 'TCL', 'MI', 'MI', 'MI', 'MI', 'MI', 'Hp', 'Acer', 'Asus', 'HCL', 'LG', 'MSI', 'SONY']
['lenovo', 'MSI', 'TCL', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'Hp', 'Acer', 'Asus', 'HCL', 'LG', 'MSI', 'SONY']
['C', 'C++', 'Databse', 'Python', 'Anaconda', 'Oracle', 'HTML', 1, 2, 3, 4]
['HDFC', 'HDFC', 'SBI', 'SBI II', 'KVB', 'PNB', 'UNION']
[1, 2, -2, 8, 9, 10, 25, 14, 16, 63, 52, 47, 99]

In [73]:
#list methods
                                    #Append
Fruits=["Apple", "Banana", "KIWI"]
Vegtables=["potato", "tomato", "Brinjal" ]
Charecters= ["Spiderman", "Tom", "Jerry"]
Salary=[12000,15000,25000]
language=["telugu", "Hindi", "English"]
Fruits.append("Mango")
Vegtables.append("Capsicum")
Charecters.append("Batman")
Salary.append(50000)
language.append("tamil")
print(Fruits)
print(Vegtables)
print(Charecters)
print(Salary)
print(Charecters)

print('.........................................................................................')
leafyveg=["Spinach","Spring Mix"]                          #Extend
Fruits.extend(Vegtables)
print(Fruits)
Charecters.extend(Salary)
print(Charecters)
Fruits.extend(Salary[1:3])
print(Fruits)
Vegtables.extend(leafyveg)
print(Vegtables)

['Apple', 'Banana', 'KIWI', 'Mango']
['potato', 'tomato', 'Brinjal', 'Capsicum']
['Spiderman', 'Tom', 'Jerry', 'Batman']
[12000, 15000, 25000, 50000]
['Spiderman', 'Tom', 'Jerry', 'Batman']
.........................................................................................
['Apple', 'Banana', 'KIWI', 'Mango', 'potato', 'tomato', 'Brinjal', 'Capsicum']
['Spiderman', 'Tom', 'Jerry', 'Batman', 12000, 15000, 25000, 50000]
['Apple', 'Banana', 'KIWI', 'Mango', 'potato', 'tomato', 'Brinjal', 'Capsicum', 15000, 25000]
['potato', 'tomato', 'Brinjal', 'Capsicum', 'Spinach', 'Spring Mix']

In [90]:
#insert
mobilenetworks=["Airtel","Jio","BSNL","VI"]
clothingBrands=["zara","H&M","Zudio","Nike" ]
watches=["Titan","Rolex","Fastrack","Samsung"]
Shoes=["Nike","Adidas","PUMA","Redtape"]
Owners=["Ambani","Elon Musk","Adani","Warren Buffet"]

mobilenetworks.insert(2,"Reliance")
print(mobilenetworks)
clothingBrands.insert(-1,Shoes[1])
print(clothingBrands)
watches.insert(0,"Rolex")
print(watches)
Shoes.insert(4,"killer")
print(Shoes)
Owners.insert(1, "Bill Gates")
print(Owners)

['Airtel', 'Jio', 'Reliance', 'BSNL', 'VI']
['zara', 'H&M', 'Zudio', 'Adidas', 'Nike']
['Rolex', 'Titan', 'Rolex', 'Fastrack', 'Samsung']
['Nike', 'Adidas', 'PUMA', 'Redtape', 'killer']
['Ambani', 'Bill Gates', 'Elon Musk', 'Adani', 'Warren Buffet']

In [98]:
#remove
Values=[1,2,3,4,5,6,1,5,4,1,8,9,0,66,88,0]
Countries=["India","USA","china","Japan","Russia","UAE","JAPAN","Singapore","Japan"]
Price=[1500,2500,4500,2500,8200,6900,25000,2400,1,0]
persons=["Santhosh","Sai","Sathwik","Raj","Mahesh"]
cities=["Hyderabad","Banglore","Delhi","Mumbai","pune","Mumbai"]
Values.remove(1)
Countries.remove("Japan")
Price.remove(2500)
persons.remove("Mahesh")
cities.remove("Mumbai")
print(Values)
print(Countries)
print(persons)
print(Price)
print(cities)

print("................................................................................................................................")
Values.pop(4)
print(Values)

[2, 3, 4, 5, 6, 1, 5, 4, 1, 8, 9, 0, 66, 88, 0]
['India', 'USA', 'china', 'Russia', 'UAE', 'JAPAN', 'Singapore', 'Japan']
['Santhosh', 'Sai', 'Sathwik', 'Raj']
[1500, 4500, 2500, 8200, 6900, 25000, 2400, 1, 0]
['Hyderabad', 'Banglore', 'Delhi', 'pune', 'Mumbai']
................................................................................................................................
[2, 3, 4, 5, 1, 5, 4, 1, 8, 9, 0, 66, 88, 0]

In [100]:
#pop
integers=[1,2,3,4,5,6,]
float=[1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.8]
Alphabets=["A","B","c","d","e","f"]
sports=["cricket", "football", "Volleyball", "chess"]
Strings=["AB","BC","PS","ok"]
int_pop=integers.pop(1)
float_pop=float.pop(-1)
Alphabets_pop=Alphabets.pop(3)
sports_pop=sports.pop(2)
Strings_pop=Strings.pop(0)
print(int_pop)
print(float_pop)
print(Alphabets_pop)
print(sports_pop)
print(Strings_pop)

2
1.8
d
Volleyball
AB

In [106]:
#index

integers=[1,2,3,4,5,6,7]
float=[1.2,2.3,1.4]
Alphabets=["A","B","c","d","e","f"]
sports=["cricket", "football", "Volleyball", "chess"]
Strings=["AB","BC","PS","ok"]
index_integers=integers.index(4)
index_float=float.index(2.3)
inderx_Alphabets=Alphabets.index("e")
index_sports=sports.index("chess")
index_Strings=Strings.index("ok")
print(index_integers)
print(index_float)
print(inderx_Alphabets)
print(index_sports)
print(index_Strings)

3
1
4
3
3

In [109]:
#count
A=[1,1,1,2,2,2,3,3,3,3,3,3,4,5,5,5,6,6,6,7,7,]
B=["A","A","A","B","B","C","D","D"]
C=["Hi","Hello","Hi","Hello", "Hi ", "Hello "]
D=[1.2,1.3,1.4,1.2,1.5,1.6]
E=["Hello World"]
countA=A.count(1)
CountB=B.count(D)
CountC=C.count("Hi")
CountD=D.count(1.2)
CountE=E.count("Hello World")
print(countA)
print(CountB)
print(CountC)
print(CountC)
print(CountD)
print(CountE)

3
0
2
2
2
1

In [116]:
#Sort
A=[1,2,52,89,25,47,62,108,986,22]
B=["A","C","M","l","Z","o"]
C=["Hi","Hello","Hi","Hello", "Hi ", "Hello "]
D=[1.2,1.3,1.4,1.2,1.5,1.6]
E=["Hello World", "Rajesh","Mahesh", "Surya"]
A.sort()
B.sort()
C.sort()
D.sort()
E.sort()
print(A)
print(B)
print(C)
print(D)
print(E)

print(".........................................................................................................................")
 #revrse 
A.reverse()
B.reverse()
C.reverse()
D.reverse()
E.reverse()
print(A)
print(B)
print(C)
print(D)
print(E)

[1, 2, 22, 25, 47, 52, 62, 89, 108, 986]
['A', 'C', 'M', 'Z', 'l', 'o']
['Hello', 'Hello', 'Hello ', 'Hi', 'Hi', 'Hi ']
[1.2, 1.2, 1.3, 1.4, 1.5, 1.6]
['Hello World', 'Mahesh', 'Rajesh', 'Surya']
.........................................................................................................................
[986, 108, 89, 62, 52, 47, 25, 22, 2, 1]
['o', 'l', 'Z', 'M', 'C', 'A']
['Hi ', 'Hi', 'Hi', 'Hello ', 'Hello', 'Hello']
[1.6, 1.5, 1.4, 1.3, 1.2, 1.2]
['Surya', 'Rajesh', 'Mahesh', 'Hello World']