In [12]:
#String
Country="India","USA","China","UAE"
State="TS","AP","KL","DL"
Cities="HYD","Vizag","Bnaglore","Delhi"
District="KNR","HYD","WGL","MDK"
Zone="South","north","East","west"
#Concatentation

Countrywithcity=Country+Cities
print(Countrywithcity)
Statewithcity=Cities+State
print(Statewithcity)
Districtwithstate=District+State
print(Districtwithstate)
Districtwithzone=Zone+District
print(Districtwithzone)
Countrywithzone=Country+Zone
print(Countrywithzone)

print(".................................................................................................................")

#Repition
RepeatCountry=Country*5
print(RepeatCountry)
RepeatState=State*2
print(RepeatState)
RepeatCities=Cities*1
print(RepeatCities)
RepeatDistrict=District*3
print(RepeatDistrict)
RepeatZone=Zone*4
print(RepeatZone)

('India', 'USA', 'China', 'UAE', 'HYD', 'Vizag', 'Bnaglore', 'Delhi')
('HYD', 'Vizag', 'Bnaglore', 'Delhi', 'TS', 'AP', 'KL', 'DL')
('KNR', 'HYD', 'WGL', 'MDK', 'TS', 'AP', 'KL', 'DL')
('South', 'north', 'East', 'west', 'KNR', 'HYD', 'WGL', 'MDK')
('India', 'USA', 'China', 'UAE', 'South', 'north', 'East', 'west')
.................................................................................................................
('India', 'USA', 'China', 'UAE', 'India', 'USA', 'China', 'UAE', 'India', 'USA', 'China', 'UAE', 'India', 'USA', 'China', 'UAE', 'India', 'USA', 'China', 'UAE')
('TS', 'AP', 'KL', 'DL', 'TS', 'AP', 'KL', 'DL')
('HYD', 'Vizag', 'Bnaglore', 'Delhi')
('KNR', 'HYD', 'WGL', 'MDK', 'KNR', 'HYD', 'WGL', 'MDK', 'KNR', 'HYD', 'WGL', 'MDK')
('South', 'north', 'East', 'west', 'South', 'north', 'East', 'west', 'South', 'north', 'East', 'west', 'South', 'north', 'East', 'west')

In [25]:
#indexing
Fruit="Apple"
Vegtable="Potato"
Name="Mahesh"
thing="Book"
location="Hyderabad"
print(Fruit[1])
print(Vegtable[-1])
print(thing[3])
print(location[0])
print(Name[1])

print("............................................................................................")
print(Fruit[1:4])
print(Vegtable[1:])
print(Name[:])
print(thing[2:5])
print(location[:5])

p
o
k
H
a
............................................................................................
ppl
otato
Mahesh
ok
Hyder

In [21]:
#string formatting
#old style formatting
Name1="Santhosh"
Age1=27
Name2="Sai"
Age2=28
Name3="Sathwik"
Age3=29
Name4="Mahesh"
Age4=18
Name5="Dhoni"
Age5=42

print("My name is %s and my age is %d" %(Name1,Age1))
print("My name is %s and my age is %d" %(Name2,Age2))
print("My name is %s and my age is %d" %(Name3,Age3))
print("My name is %s and my age is %d" %(Name4,Age4))
print("My name is %s and my age is %d" %(Name5,Age5))

print("...........................................................................................................................................")
#fromat method

print("My name is {} and my age is {}".format(Name1,Age1))
print("My name is {} and my age is {}".format(Name2,Age2))
print("My name is {} and my age is {}".format(Name3,Age3))
print("My name is {} and my age is {}".format(Name4,Age4))
print("My name is {} and my age is {}".format(Name5,Age5))

print("........................................................................................................")
#string interpolation
print(f"My name is {Name1} and My age is {Age1}")
print(f"My name is {Name2} and My age is {Age2}")
print(f"My name is {Name3} and My age is {Age3}")
print(f"My name is {Name4} and My age is {Age4}")
print(f"My name is {Name5} and My age is {Age5}")

My name is Santhosh and my age is 27
My name is Sai and my age is 28
My name is Sathwik and my age is 29
My name is Mahesh and my age is 18
My name is Dhoni and my age is 42
...........................................................................................................................................
My name is Santhosh and my age is 27
My name is Sai and my age is 28
My name is Sathwik and my age is 29
My name is Mahesh and my age is 18
My name is Dhoni and my age is 42
........................................................................................................
My name is Santhosh and My age is 27
My name is Sai and My age is 28
My name is Sathwik and My age is 29
My name is Mahesh and My age is 18
My name is Dhoni and My age is 42

In [22]:
#dynamic inpuuts
Details=input("please enter your Name: ")
print(Details)

please enter your Name:  Santhosh

Santhosh

In [25]:
agedetais=int(input("please enter your age:"))
print(agedetais)

please enter your age: 25

25

In [26]:
address=input("please enter your complete address:")
print(address)

please enter your complete address: 1-2-123

1-2-123

In [27]:
cityname=input("please enter city:")
print(cityname)

please enter city: Hyderabd

Hyderabd

In [29]:
Zipcode=int(input("please enter zipcode;"))

please enter zipcode; 505122